<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.repository.BbsMapper">
    <select id="selectList" resultType="com.joo.model.Post">
        SELECT post_num AS postNum
              , title AS title
              , date_format(create_date, '%Y-%m-%d %H:%i:%S') AS createDate
              , name AS name
          FROM post
    </select>

    <insert id="insertPost" parameterType="com.joo.model.Post">
        INSERT INTO post(title, main_text, name, create_date)
        VALUES (#{title}, #{mainText}, #{name}, sysdate())
    </insert>

    <select id="selectPost" resultType="com.joo.model.Post">
        SELECT title AS title
              , main_text AS mainText
              , name AS name
              , date_format(create_date, '%Y-%m-%d %H:%i:%S') AS createDate
              , post_num AS postNum
          FROM post
          WHERE post_num = #{postNum}
    </select>

    <update id="updatePost" parameterType="com.joo.model.Post">
        UPDATE post SET title = #{post.title}, main_text=#{post.mainText}
        WHERE post_num = #{postNum}
    </update>

    <delete id="deletePost" parameterType="int">
        DELETE FROM post WHERE post_num = #{postNum}
    </delete>

    <insert id="insertComment" parameterType="com.joo.model.Comment">
        INSERT INTO reply(post_num, reply_num, reply_text)
        VALUES (#{postNum}, #{commentNum}, #{commentText})
    </insert>

    <select id="selectCommentList" resultType="com.joo.model.Comment">
        SELECT reply_text AS commentText
        FROM reply
        WHERE post_num = #{postNum}
    </select>

    <update id="updateComment" parameterType="com.joo.model.Comment">
        UPDATE reply SET reply_text = #{commentText}
        WHERE reply_num = #{commentNum}
    </update>
</mapper>
